@keyframes slideLeft {
  0% { left: 0}
  100% { left: -100vw;}
}

.slideLeft{
  animation: slideLeft 3s forwards;
}

@keyframes slideRight {
  0% { left: -100vw;}
  100% { left: 0vw;}
}

.slideRight{
  animation: slideRight 3s forwards;
}