@import url('https://fonts.googleapis.com/css?family=Parisienne');

body {
  padding:0; 
  margin:0;

  height:100vh; 
  width:100vw; 
  /* ADD When FINISHED *//* overflow: hidden; *//* ADD When FINISHED */
}

canvas {
  position: absolute;

  margin: 0;

  height: 100%;
  width: 100%;
}