@import url('https://fonts.googleapis.com/css?family=Parisienne');

.title {
  text-align: center;

  color: white;
}

.name {
  margin: 0;

  font-family: 'Parisienne';
  font-size: 8vmin;
}

.position {
  margin: 0;

  font-size: 5vmin;
  text-shadow: .25vmin .25vmin 0 #8a0099;
}