@keyframes open {
  0%   { background: transparent; color: #8a0099; }
  100% { background: #8a0099; color: white; border: 1px solid white; }
}

.open {
	display: initial;
}

@keyframes close {
  0%   { background: #8a0099; color: white; border: 1px solid white; }
  100% { background: transparent; color: #8a0099; }
}

.closed {
	display: none;
}